:root{
    --green-background: #3CDBC0;
    --grey-text: #4a4a4a;
    --white-text: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--white-text);
    width: 100vw;
}

.header .logo{
    width: 9.6875rem;
    padding: 0.625rem;
}

.menu{
    display: flex;
    justify-content: center;
    padding-bottom: 0.8125rem;
}

.menu-items{
    color: var(--grey-text);
    text-transform: uppercase;
}

.links{
    text-decoration: none;
    color: var(--grey-text);
    padding: 10px;
}

.main{
    height: 100vh;
    background-color: var(--green-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .title{
    color: var(--white-text);
    font-size: 1.875rem;
    font-weight: 800;
    text-align: center;
    max-width: 17.5rem;
    text-transform: capitalize;
}

/*------responsive-------*/

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .header .logo{
        padding: 1.25rem 0 1.25rem 1.875rem;
    }

    .menu{
        padding-right: 1.875rem;
    }

    .title{
        font-size: 2.5rem;
    }
}