:root{
    --green-background: #3CDBC0;
    --grey-text: #4a4a4a;
    --white-text: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

.header .logo{
    width: 155px;
}

.menu-items{
    color: var(--grey-text);
    font-size: 16px;
}

.main{
    height: 100vh;
    background-color: var(--green-background);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    color: var(--white-text);
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    max-width: 280px;
}

